.benefits {
    padding-top: 40px;    
    padding-bottom: 40px;    
}

.benefits__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;

    @include mobile {
        display: flex;
        justify-content: center;
        gap: 15px;
    }
}

.benefits__item {
   display: flex;
   flex-direction: column;
   width: 200px;
   text-align: center;
   transition: all 0.2s ease-in;
   
}

.benefits__item-img {
    margin-top: 25px;

    @include mobile {
        margin-top: 10px;
    }
}

.benefits__icon-text{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px 10px;    
    
    @include mobile {
        font-size: 12px;
        padding: 0 10px 10px 10px;
    }
}

.benefits__item-title {
    color: var(--accent-2);

    @include mobile {
       margin-top: -1.5em;         
    }
}

.benefits__item-desc{
    margin-top: auto;
    
}