.benefits {
    padding-top: 40px;    
    padding-bottom: 40px;    
}

.benefits__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;

    @include mobile {
        display: flex;
        justify-content: center;
        gap: 15px;
    }
}

.benefits__item {
   display: flex;
   flex-direction: column;
   width: 200px;
   text-align: center;
   border-radius: 25px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
   background-color: #fff;
   background: rgb(255, 192, 203, 0.3);
   transition: all 0.2s ease-in;   
  
   &:hover{
    transform: translateY(3%);
    scale: 1.02;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
   }     
}

.benefits__item-img {
    margin-top: 25px;

    @include mobile {
        margin-top: 10px;
    }
}

.benefits__icon-text{
    height: 100%;
    padding: 15px 10px;    
    
    @include mobile {
        font-size: 12px;
        padding: 0 10px 10px 10px;
    }
}

.benefits__item-title {
    color: var(--accent-2);

    @include mobile {
       margin-top: -1.5em;         
    }
}

