.benefits {
    padding-top: 40px;    
    padding-bottom: 40px;    
}

.benefits__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;

    @include mobile {
        display: flex;
        justify-content: center;
        gap: 15px;
    }
}

.benefits__item {
   display: flex;
   flex-direction: column;
   width: 200px;
   text-align: center;
   transition: all 0.2s ease-in;
   margin-top: 40px;

   border-radius: 10px;
   border: 1px solid #f8f9fa;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   
}

.benefits__item-img {
    margin-top: 25px;

    @include mobile {
        margin: 25px;
    }
}

.benefits__icon-text{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px 10px;    
    
    @include mobile {
        font-size: 12px;
        padding: 0 10px 10px 10px;
    }
}

.benefits__item-title {
    color: var(--accent-2);

    @include mobile {
       margin-top: -1.5em;         
    }
}

.benefits__item-desc{
    font-size: 16px;
    margin-top: auto;
    text-align: center;    
}