.bonus {
    margin: var(--section-margin-top);
}

.bonus__list {
    display: flex;
    align-items: center;
    gap: 20px;
}
.bonus__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
}