.feedbacks {
    padding-top: var(--section-padding-top);

    @include mobile {
        padding-top: var(--section-padding-top-mobile);
    }
}
.feedbacks__slaider {
    padding-top: var(--section-padding-top);
    @include mobile {
        padding-top: var(--section-padding-top-mobile);
    }
}
