.swiper{
  max-width: 80%;  
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--accent-2);
  border: 5px solid var(--accent-2);
}

.swiper-container {
  padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;        
}

.swiper-wrapper{
  padding: 40px;
  display: flex;

}
.swiper-slide.feedbacks-slide{
    display: flex;
    gap: 20px; 
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.feedbacks__swiper {
    display: flex;
    align-items: center;
}
.feedbacks__person {
    display: flex;
    flex-direction: column;
    padding:40px  20px;
    align-items: center;
    text-align: center;
    width: 250px; /* Фиксированная ширина */
    flex-shrink: 0; /* Не уменьшается */
    background-color: var(--accent);
    border-radius: 10px;
}

.feedbacks-slide__img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.feedbacks-slide__name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.feedbacks-slide__position {
    font-size: 16px;
    color: #000;
    margin-top: 5px;
}

.feedbacks-slide__text {
    display: flex;
    flex: 1;
    max-width: 400px;
    height: 280px;
    padding: 15px;
    overflow: auto;
    font-size: 20px;
    line-height: 1.5;
    color: var(--accent-2);    
}

.swiper__btns{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.swiper-btn-prev, .swiper-btn-next {   
    background-color:var(--accent);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    cursor: pointer;
    
}

@media (max-width: 768px) {
    .swiper-slide {
        flex-direction: column;
        text-align: center;
    }

    .feedbacks__person {
        width: 100%;
    }

    .feedbacks-slide__text {
        width: 100%;
        text-align: left;        
    }
}
