.header {
	width: 100%;
	background-color: #fff;
	z-index: 99;
	border-bottom: 1px solid #ede4e4;
	position: fixed;		
}

.header__row{
	display: flex;	
	justify-content: space-between;
	align-items: center;
	
}

.header__links_socials{	
	display: flex;
	gap: 5px;
}

.header__links a{
	color: var(--accent-2);
	transition: all 0.1s ease-in;
	
		&:hover{
			color: var(--accent);
			scale: 1.1;
	}
}

.header-scroll{
	position: sticky;
	top: 0;
	padding: 0;
}

.header__nav {
	display: flex;

	@include mobile {
		display: none;
	}
}

