.howtobuy {
}
.howtobuy__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 36px;

}
.howtobuy__list-item {
}
.howtobuy__licenses {
    margin-top: var(--section-margin-top);
}
.howtobuy__licenses-title {
}
.data_to_pay {
}