.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 22px;
	height: 22px;
}

.icon--arrow-left, .icon--arrow-right {
	width: 50px;
	height: 50px;
	stroke: #000;
}

.icon--gift1, .icon--gift2, .icon--gift3{
	width: 100px;
	height: 100px;
}

.icon--avatar_female, .icon--avatar_male{
	width: 200px;
	height: 160px;
}

.icon--facebook, .icon--instagram {
	width: 25px;
	height: 25px;
	fill: var(--accent);
	/* stroke: var(--accent-2); */
	transition: all 0.2s ease-in;
	margin-right: 10px;

	&:hover{
		scale: 1.5;
		rotate: 10deg;
	}

	@include mobile {
		width: 20px;
		height: 20px;
		margin-right: 0;
	}
}


.icon--license,
.icon--shield,
.icon--emergency,
.icon--control,
.icon--complex-protection {
	width: 70px;
	height: 70px;
	fill:var(--accent);
	stroke: var(--accent);

	@include mobile {
		width: 50px;
		height: 50px;
	}
}
.icon--email, .icon--phone {
	width: 25px;
	height: 25px;
	fill: var(--accent-2);
	stroke: var(--accent-2);
	transition: all 0.2s ease-in;
	
	&:hover{
		scale: 1.5;
		rotate: 10deg;
	}
}


.icon--logo_I-Work{
	width: 200px;
	height: 200px;
}