.logo {
    width: 250px;
    padding: 5px 0;
    @include tablet {
        width: 200px;
    }   
    
    @include mobile {
        width: 150px;        
    }

    @include small-mobile{
        // width: 120px;
    }
}

.logo-small{
    width: 100px;
    height: 100px;
}

.logo-square{
    width: 250px;
    height: 250px;
    padding: 20px;

    @include mobile {
        display: none;
        
    }
}