.logo {
    width: 150px;
    @include tablet {
        // width: 200px;
    }   
    
    @include mobile {
        // width: 150px;        
    }

    @include small-mobile{
        // width: 120px;
    }
}

.logo-small{
    width: 200px;
    height: 200px;

}