.nav a {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--accent-2);
	transition: all 0.2s ease-in;

	&:hover {
		color: var(--accent);
	}

}

.nav__list {
	display: flex;
	column-gap: 25px;

	@include tablet {
		gap: 15px;
	}	
}
.hover-underline-animation, 
.hover-underline-animation--partnership {
	display: inline-block;
	position: relative;
  }
  
  .hover-underline-animation::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: -3px;
	left: 0;
	background-color: #000;
	transition: transform 0.2s ease-out;
}
  
  .hover-underline-animation:hover::after {
	transform: scaleX(1);
  }
  
  .hover-underline-animation.center::after {
	transform-origin: bottom left;
  }
  
  .hover-underline-animation.center:hover::after {
	transform-origin: bottom left;
  }   
   