.partners {
    padding-top: var(--section-padding-top);

    @include mobile {
        padding-top: var(--section-padding-top-mobile);
    }
}

.partners-box{
    background: #fff;
    margin-top: 20px;
    padding: 0 100px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    @include desktop-sm{
        padding: 0 40px;
    }    
}

.partners__gallery {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap; 

    @include small-mobile{
        padding-bottom: 0;
    }
}

.partners__gallery a{
    align-items: center;        
}

.partner {
    background: white;
    width: 200px;
    text-align: center;
    position: relative;
   
    &:hover{
        top: -2px;
    }
}

.partner a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--accent);
    font-weight: bold;
    text-transform: uppercase;
    
}

.partners__partners-list ul{
    display: flex;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--accent); 
    // text-decoration: solid underline #000;
    flex-wrap: wrap;        

    @include desktop-sm{
        font-size: 20px;
        gap: 20px;
    }
    @include mobile{
        font-size: 16px;
        gap: 10px;
        justify-content: center;
        padding-top: 0;
    }

}

.partners__partners-list ul li{
    margin-bottom: 20px;
    
    @include small-mobile {
        text-align: center;
    }
}

.partners__partners-list ul li a{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--accent); 
    transition: all 0.2s ease-in;
    position: relative;
    padding: 10px;        
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    &:hover{
        color: orangered;
        top: -2px;
    }

    @include desktop-sm{
        font-size: 20px;
    }

    @include mobile{
        font-size: 16px;
        justify-content: center;        
    }
}