.switcher-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    width: 140px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 22px;    

    @include tablet {
        width: 100px;
        height: 20px;
        padding: 0 2px;
        font-size: 18px;        
    }

    @include mobile {
        font-size: 16px;                
    }

}
.switcher-wrapper:hover {
    opacity: 1;
}
.switcher-wrapper input[type="radio"] {
    display: none;
}
.switcher-wrapper .switcher {
    position: relative;
    flex: 1 1 calc(100% / 3);
    text-align: center;
    color: var(--accent);
    transition: color .25s ease-in-out;
    z-index: 2;
    cursor: pointer;
}
.switcher-wrapper input[type="radio"]:checked + .switcher {
    color: #fff;
}
.lang-placeholder {
    width: 35px;
    height: 35px;
    background: var(--accent);
    position: absolute;
    z-index: 1;
    transition: left .25s ease-in-out;

    @include tablet {
        width: 30px;
        height: 26px;
    }    

    @include mobile {
       width: 26px;
       height: 22px; 
    }
}

.switcher-wrapper input[type="radio"]:nth-of-type(1):checked ~ .lang-placeholder {
    left: 12px;

    @include tablet {
        left: 3px;
    }  
    
    @include mobile {
        left: 5px;
    }
}

.switcher-wrapper input[type="radio"]:nth-of-type(2):checked ~ .lang-placeholder {
    left: 52px;

    @include tablet {
        left: 35px;
    }

    @include mobile {
        left: 36px;
    }
}
.switcher-wrapper input[type="radio"]:nth-of-type(3):checked ~ .lang-placeholder {
    left: 91px;

    @include tablet {
        left: 66px;
    }

    @include mobile {
        left: 68px;
    }
}