table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
    
    @include small-mobile{
        font-size: 14px;
    }
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;

    @include small-mobile{
        padding: 4px;
    }
}
td.table__product-name{
    font-weight: 600;
}

th {
    background-color: #f4f4f4;
    color: var(--accent-2)
}
