<h2>Таблица цен</h2>
    <table>
        <tr>
            <th>Продукт</th>
            <th>Количество услуг</th>
            <th>Оплата за месяц</th>
            <th>Оплата за год</th>
        </tr>
        <tr>
            <td>Продукт 1</td>
            <td>10</td>
            <td>500 ₽</td>
            <td>5000 ₽</td>
        </tr>
        <tr>
            <td>Продукт 2</td>
            <td>20</td>
            <td>900 ₽</td>
            <td>9000 ₽</td>
        </tr>
        <tr>
            <td>Продукт 3</td>
            <td>30</td>
            <td>1300 ₽</td>
            <td>13000 ₽</td>
        </tr>
    </table>