    <table>
        <tr>
            <th data-key="table-product">Продукт</th>
            <th data-key="table-device-count">Количество устройств</th>
            <th data-key="table-monthly-payment">Оплата за месяц</th>
            <th data-key="table-annual-payment">Оплата за год</th>
        </tr>
        <tr>
            <td class="table__product-name" data-key="product-worry-free">Worry Free Services</td>
            <td data-key="devices-1-25">1-25</td>
            <td data-key="monthly-payment-1">7.10 €</td>
            <td data-key="annual-payment-1">6.0 €</td>
        </tr>
        <tr>
            <td class="table__product-name" data-key="product-worry-free">Worry Free Services</td>
            <td data-key="devices-26-50">26-50</td>
            <td data-key="monthly-payment-2">5.10 €</td>
            <td data-key="annual-payment-2">4.90 €</td>
        </tr>
        <tr>
            <td class="table__product-name" data-key="product-worry-free">Worry Free Services</td>
            <td data-key="devices-51-100">51-100</td>
            <td data-key="monthly-payment-3">4.50 €</td>
            <td data-key="annual-payment-3">4.30 €</td>
        </tr>
    </table>
    